<div class="main-container">
  <img
    src="../../assets/illustration-intro.png"
    alt="illustration-intro"
    class="introImg center"
  />
  <div class="into-container center">
    <div class="intro-title">
      All your files in one secure location, accessible anywhere
    </div>
    <div class="intro-context">
      Fylo stores all your most important files in one secure location. Access
      them wherever you need, share and collaborate with friends family, and
      co-workers.
    </div>
    <button class="intro-button">Get Started</button>
  </div>
</div>
